name: deploy

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        uses: robinpellegrims/composite-actions/pnpm-install@main
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm nx affected --base=$BEFORE_SHA --target=deploy --parallel=1 --baseBranch=master --environment=production
        env:
          BEFORE_SHA: ${{ github.event.before }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
